 
h1 {
	background-color: blanchedalmond;
}

h3 {
	background-color: blanchedalmond;
}
h2 {
	background-color: rgb(255, 205, 243);
}

h4 {
	font-size:150%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	font-style: oblique;
	padding: 14px 16px;
	text-decoration: none;
  }
  b{
	color:rgb(255, 0, 221)
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  
  .active {
	background-color: #04AA6D;
  }

  html,body {
	font-size: 120%;
  }

